<div id="welcome">

  <h1>Storyteller</h1>
  <div id="panel">
  <p>Welcome to Storyteller.</p>
  <p>Search for books and listen to them as you read!</p>
  <!--
    Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical Login button that triggers
    the FB.login() function when clicked.
  -->
<a href="/auth/facebook">
  <div id="facebook">
    <i class="button fa fa-facebook" style="font-size: 50px;"></i>
    login with facebook
  </div></a>
</div>
</div>
